.shopping-list-container {
  margin-top: 150px;
}

.shopping-list {
  padding: 20px;
  position: relative;
  top: 100px;
}

form {
  display: inline-flex;
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 10;
  background: white;
}

button {
  background: none;
  border: none;
}

.add-element {
  margin: 10px;
  width: 90%;
  padding: 20px;
  border: solid grey 2px;
  border-radius: 4px;
  font-size: 2rem;
  color: grey;
}

.add-element:focus,
button {
  outline: none;
}

.add-icon {
  background: url(../../assets/control_point-24px.svg) no-repeat top left;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  width: 40px;
}
