body {
  font-size: 2rem;
  font-family: lato, sans-serif;
  font-weight: 400;
  color: grey;
}

.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #1795d4;
  color: white;
  position: fixed;
  padding: 20px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 210;
}

.shopping-list-container {
  margin-top: 150px;
}

.shopping-list {
  padding: 20px;
  position: relative;
  top: 100px;
}

form {
  display: inline-flex;
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 10;
  background: white;
}

button {
  background: none;
  border: none;
}

.shopping-item {
  display: flex;
  padding: 10px;
  text-transform: capitalize;
}

.add-element {
  margin: 10px;
  width: 90%;
  padding: 20px;
  border: solid grey 2px;
  border-radius: 4px;
  font-size: 2rem;
  color: grey;
}

.add-element:focus,
button {
  outline: none;
}

.add-icon {
  background: url(control_point-24px.svg) no-repeat top left;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  width: 40px;
}

input[type="checkbox"] {
  height: 2.2rem;
  margin-right: 10px;
  width: 1.2rem;
}

.shopping-item label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.input[type="checkbox"] div {
  font-weight: bold;
  font-size: 1rem;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 4px;
  border: solid 2px grey;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.shopping-item input:checked ~ .checkmark:after {
  display: block;
}

.shopping-item:hover input ~ .checkmark {
  background-color: #ccc;
}

.shopping-item label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.list-checked {
  margin-top: 100px;
}

.list-checked .shopping-item {
  text-decoration: line-through;
}

.App-link {
  color: #61dafb;
}

.remove-button {
  display: none;
  position: absolute;
  right: 12px;
}

.remove-button:focus {
  outline: none;
}

.delete-icon {
  background: url(delete_forever-24px.svg) no-repeat top left;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  width: 40px;
}

.shopping-item:hover {
  border-bottom: solid 0.5px grey;
}

.shopping-item:hover .remove-button {
  display: inline-block;
}

.remove-button :hover {
  display: inline-block;
}
